body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

header{
    background-image: url('../Assets/Background.png');
    background-size: cover;
    width: 100%;
}

.navbar{
    padding: 4vw 10vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-right{
    display: flex;
    align-items: center;
    white-space: nowrap;
    color: rgba(0, 0, 0, 0.589)
}

.hamburger-menu, .menu-cont{
    display: none;
}

.start-button{
    margin: 0;
    padding: 20px;
    width: max-content;
    background: black;
    border-radius: 5px;
    font-weight: bold;
    transition: background linear 0.2s;
}

.start-button:hover{
    cursor: pointer;
    background: rgb(54, 54, 54);
}

#get-started{
    color: white;
}

#its-free{
    color: gray;
    font-weight: normal;
}

.header-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
    padding: 5vw 5vw 0 5vw;
}

.header-content h1{
    font-size: max(5.8em, 45px);
    font-weight: bolder;
    margin: 0;
    z-index: 1;
}

.header-content h5{
    font-size: 1.5em;
    margin: 2.5vw 0;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.589)
}

.header-content img{
    width: 80vw;
    margin-top: 5vw;
}

.content{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin: 10vw 10vw;
}

.content img{
    width: 30vw;
    min-width: 400px;
}

.content-text{
    width: 40vw;
}

.content-text h1{
    font-size: 3.5em;
    font-weight: bolder;
    margin: 0;
}

.content-text h5{
    font-size: 1.5em;
    margin: 2.5vw 0;
    font-weight: lighter;
    color: rgba(0, 0, 0, 0.589)
}

footer{
    margin-top: 10vh;
    padding: 4vw 10vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
    font-size: 1.2em;
}

footer span:first-child{
    margin-right: 2vh;
}

.footer-text{
    color: rgba(0, 0, 0, 0.589);
    font-weight: lighter;
}


@media (max-width: 961px)  { 
    .content{
        flex-direction: column;
        align-items: center;
    }
    .content img{
        width: 60vw;
    }
    .content-text{
        width: 80vw;
        margin-top: 10vw;
    }
}

@media (max-width: 600px)  { 
    .navbar-right{
        display: none;
    }

    #header-content-start-button{
        width: 80vw;
    }

    .hamburger-menu{
        display: block;
        float: right;
    }

    .menu-close{
        margin-bottom: 10vw;
    }

    .menu-cont{
        height: 120vh;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        background-color: white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        color: rgba(0, 0, 0, 0.589);
        width: 200px;
        position: fixed;
        top: 0;
        right: 0;
        transform: translate(200%, 0);
        padding: 4vw 10vw;
        transition: transform .5s ease-in-out;
        z-index: 999999;
    }

    .menu-cont.start-button{
        white-space: normal;
    }

    .menu-cont.active{
        transform: translate(0, 0);
        right: 0;
    }

    #sign-in-mobile{
        margin: 40px 0;
    }

    .header-content h1{
        font-size: 3em
    }

    .content-text h1{
        font-size: 2em;
    }

    .content img{
        min-width: 200px;
    }

    .header-content h5, .content-text h5{
        font-size: max(1em, 15px);
    }

    footer{
        flex-direction: column;
        align-items: flex-start;
        font-size: 1em;
        white-space: normal;
    }


}